* {
    font-family: $main-font;
    font-weight: 600;
}

html{
    font-size: 18px;

    @media (max-width: 1440px) {
        font-size: 16px;
    }
}

body {
    position: relative;
    font-size: 1rem;
    color: $text-color;
    background-color: $main-color;
}

a {
    color: $text-color;
}

button {
    color: $text-color;
}

.container {
    width: toPercent(1462, 1920);
}

.scroll-container {
    scroll-behavior: smooth;
}
